img {
    width:200px;
    border-radius: 45px;
    text-align: center;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
      padding-left: 0px;
      padding-right: 25px;
  
 
   
}
.App {
  background-color:darkturquoise ;
   
  }
  .para{
    text-align: center;
    font-size: 35px;
    font-style: italic;
    text-decoration-line: underline;
    color: rgb(112, 64, 243);

}
button{
    margin-left: 50%;
    font-size: 250%;
    font-style: italic;
    font-weight: bolder;
    position: relative;
    background: rgb(118, 233, 51);
    display: flex;
    justify-content: center;
}
button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background: #cc3c84;
    transition: 0.5s ease-in-out;

}
button::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
    background: #05351b;
    transition: 0.5s ease-in-out;
}

button:hover::before,
button:hover::after{

    width: 50%;
}
button:hover{
    transform: scale(2);
    transition-delay: 0s;
}

h1{
    text-align: center;
    margin-top: -20%;
    margin-left: 2%;
    font-style: italic;
}
p{
    text-align: center;
    margin-left: 40%;
    margin-right: 20%;
    font-size: 150%;
    font-style: italic;
    font-weight: bold;

}

h2{
    margin-left:  43%;
    font-style: italic;
}
 {

}    